<tr>
	<td><%= link_to 'Profile', user_path(user) %></td>
	<td><img src="http://placehold.it/16x16" alt="Super cool avatar" class="thumbnail"></td>
	<td><%= user.first_name %></td>
	<td><%= user.last_name %></td>
	<td><%= user.email %></td>
</tr>