<div class="row">
	<div class="span4">
		<div class="thumbnail">
			<img src="http://placehold.it/400x400&text=Super+cool+avatar" alt="Super cool avatar">
		</div>
	</div>
	<div class="span8">
		<h2><%= @user.name  %></h2>
		<h4><%= @user.email %></h4>
		<hr />
		<%= link_to 'Edit', edit_user_path(@user), :class => "btn" %>
	</div>
</div>